.#{$namespace}toast-container {
	line-height:17px;
	position: fixed;
	bottom: 50px;
	z-index: z("toast");
	opacity: 0;
	left:50%;
	-webkit-transform:translate(-50%,0);
	transform:translate(-50%,0);
	-webkit-transition: opacity .3s;
    transition: opacity .3s;
	&.#{$namespace}active{
	    opacity: .9;
	}
}
.#{$namespace}toast-message {
	padding: 10px 25px;
	background-color: #323232;
	text-align: center;
	color: #fff;
	border-radius: 6px;
	font-size: 14px;
}